In [4]:
import pandas as pd

In [5]:
data={'Name' : ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18]}

In [7]:
df=pd.DataFrame(data)

In [8]:
df

     Name  Age
0     Tom   20
1  Joseph   21
2   Krish   19
3    John   18